<div class="container">
  <h1>Angular Directives</h1>

  <p 
    [appStyle]="'Navy'" 
    fontWeight="bold"
    [dStyles]="{border: '1px solid Navy', borderRadius: '5px'}">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, nesciunt?
  </p>
  <p 
  [appStyle]="'DarkRed'" 
  fontWeight="bold"
  [dStyles]="{border: '1px solid DarkRed', borderRadius: '5px'}">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, explicabo?
</p>
<p 
[appStyle]="'OliveDrab'" 
fontWeight="bold"
[dStyles]="{border: '1px solid OliveDrab', borderRadius: '5px'}">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, saepe?
</p>

<hr>

<p [appStyle]="'Navy'">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est.
</p>
<p [appStyle]="'DarkRed'">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est.
</p>
<p [appStyle]="'OliveDrab'">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est.
</p>

</div>