img {
    width: 150px;
}

.yellow{
    background: yellow;
    font-weight: bold;
}

.blue{
    background: blue;
    font-size: 1.5rem;
}

.tan{
    background: tan;
    font-weight: bold;
}

.aqua{
    background: aqua;
    font-weight: bold;
}

.steelblue{
    background: steelblue;
    font-weight: bold;
}

.Teal{
    background: Teal;
    font-weight: bold;
}