<h1>Main App Angular!</h1>
<!-- Pipe -->
<hr>
<p>{{ now | date }}</p>
<p>{{ now | date: 'short' | uppercase }}</p>
<p>{{ now | date: 'medium' | lowercase }}</p>
<p>{{ now | date: 'long' }}</p>
<p>{{ now | date: 'full' }}</p>
<!-- Derective ngFor -->
<hr>
<h2>Derective ngFor</h2>
<ul>
    <li *ngFor="let number of array; let i = index">
        {{i + 1}} - number <strong>{{number}}</strong>
    </li>
</ul>
<h3>ngFor with Objects</h3>
<ul style="list-style: none;">
    <li *ngFor="let post of objects">
        <p>{{post.title}} <b>{{post.author}}</b></p>
        <ul>
            <li *ngFor="let comment of post.comments">
                <div>
                    <small>{{comment.name}}</small>
                    <p>{{comment.text}}</p>
                </div>
            </li>
        </ul>
    </li>
</ul>
<!-- Derective ngSwitch -->
<hr>
<h2>Derective ngSwitch</h2>
<button (click)="toggle2 = !toggle2">True/False Switch</button>
<button (click)="toggle2 = 123">Default Switch</button>
<div [ngSwitch]="toggle2">
    <p *ngSwitchCase="true" class="steelblue">Lorem ipsum dolor sit amet.</p>
    <p *ngSwitchCase="false" class="Teal">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, quam.</p>
    <p *ngSwitchDefault>Default switch!</p>
</div>
<!-- Derective ngIf-Else -->
<hr>
<h2>Derective ngIf-Else</h2>
<button (click)="toggle = !toggle">Toggle</button>
<p *ngIf="toggle; else aquaP" class="tan">Lorem ipsum dolor sit amet.</p>
<ng-template #aquaP>
    <p class="aqua">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, officia.</p>
</ng-template>
<!-- Derective ngClass -->
<hr>
<h2>Derective ngClass</h2>
<p [class.yellow]="!backGroundToggel" [class.blue]="backGroundToggel">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, eius!</p>
<p [ngClass]="{blue: backGroundToggel, yellow: !backGroundToggel}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, obcaecati.</p>
<!-- Derective ngStyle -->
<hr>
<h2>Derective ngStyle</h2>
<button (click)="backGroundToggel = !backGroundToggel;">Change Style</button>
<div [ngStyle]="{
    width: '200px',
    height: '200px',
    borderRadius: '5px',
    border: '1px solid #ccc',
    background: backGroundToggel ? 'yellow' : 'blue'
}">
</div>
<!-- 2 Way Binding -->
<hr>
<h2>2 Way Binding</h2>
<input type="text" [(ngModel)]="title">
<p><strong>{{ title }}</strong></p>
<!-- Event Binding -->
<hr>
<h2>Event Binding</h2>
<button (click)="onClick()">Click Me!</button>
<p>Event</p>
<input type="text" (input)="onInput($event)">
<p><strong>{{inputValue}}</strong></p>
<p>Event KeyUp</p>
<input type="text" (keyup)="onInput2($event)">
<p><strong>{{inputValue2}}</strong></p>
<p>Event KeyUp.Enter</p>
<input type="text" (keyup.enter)="onInput3($event)">
<p><strong>{{inputValue3}}</strong></p>
<!-- Binding -->
<hr>
<h2>Binding</h2>
<img src="{{ img }}" alt="">
<!-- Optimize binding -->
<hr>
<h2>Optimize binding</h2>
<img [src]="img" alt="">
<!-- Interpolation -->
<hr>
<h2>Interpolation</h2>
<p>{{ title }}</p>
<p><strong>{{ number }}</strong></p>
<p><strong>{{ number - 2 }}</strong></p>
<p><strong>{{ arr }}</strong></p>
<p><strong>{{ obj }}</strong></p>
<p><strong>{{ obj.b.c }}</strong></p>
<p>{{ 40 + 22 }}</p>
<p>{{ 'Hello' + ' World!' }}</p>

<hr>
<h2>Components</h2>

<h3>Two components app-post</h3>
<app-post></app-post>
<app-post></app-post>

<hr>
<h3>One component app-post4</h3>
<app-post4></app-post4>
